.DS_Store
*.o
*.pyc
*.so
*.pyo
*.cfg
chains/
.ipynb_checkpoints/
.ipynb_*
*.sbatch
data/*cov
scripts/.DS_Store
data_challenge/
interface/.DS_Store
.DS_Store
likelihood/.DS_Store
scripts/.DS_Store
data/.DS_Store
